SECRET='some-secret'
GITHUB_ID=
GITHUB_SECRET=
GITHUB_CALLBACK=
JITSI_SERVER_URL=
MATRIX_HOMESERVER=
DEFAULT_MATRIX_ROOM=
SPACES_SECRET=
SPACES_KEY=
DEFAULT_STORAGE_BUCKET=
STORAGE_BUCKET_ENDPOINT=
DEFAULT_STORAGE_BUCKET_ROOT_FOLDER=
DEFAULT_STORAGE_BUCKET_FULL_URL=