@import "./tooltip.css"

$primary: #02d35f
$secondary: #0d2c40
$dark: #161b22
$black: #0d1117
$gray1: #30363d
$gray2: #8b949e
$gray3: #c9d1d9

pre
  color: $gray3
body
  background-color: $black
a, a:hover, a:active, a:focus, a:visited
  text-decoration: none
  cursor: pointer
h4
  .b-icon
    font-size: 16px
hr
  border-color: $gray1
.btn
  margin-right: 5px
.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:focus, .btn-primary:visited
  background-color: $primary !important
  border-color: $primary !important
  box-shadow: none !important
  color: $secondary
.btn-dark, .btn-dark:hover, .btn-dark:active, .btn-dark:focus, .btn-dark:visited
  background-color: $dark !important
  border-color: $dark !important
  box-shadow: none !important
  color: $gray3
.btn-black, .btn-black:hover, .btn-black:active, .btn-black:focus, .btn-black:visited
  background-color: $black !important
  border-color: $black !important
  box-shadow: none !important
  color: $gray3
.btn-outline, .btn-outline:hover, .btn-outline:active, .btn-outline:focus, .btn-outline:visited
  background-color: transparent !important
  border-color: transparent !important
  box-shadow: none !important
  color: $gray3
  border: 1px solid $gray1 !important

.logo
  max-height: 75px
.main
  background-color: $black
  color: $gray3
.min-h-screen
  min-height: 100vh
.overflow-x-scroll
  overflow-x: scroll

.thumb-sm
  max-width: 30px
.bg-black
  background-color: $black !important
.bg-dark
  background-color: $dark !important
.card, .list-group-item, .nav-tabs, .nav-tabs .nav-link.nuxt-link-active
  background-color: transparent !important
  border-color: $gray1
.nav-tabs
  .nav-link:not(.nuxt-link-active)
    &:hover, &:focus
      border: 1px solid transparent
  a
    color: $gray2
  .nuxt-link-active
    color: $gray3
.list-group-item-action
  color: $gray3
.login
  margin: 0 auto
  min-height: 100vh
  display: flex
  justify-content: center
  align-items: center
  text-align: center
  .logo
    max-height: 150px
.ghost-card
  opacity: 0.5
  background-color: $gray1
.kanban
  width: 100%
  .column
    min-width: 340px
    width: 25%
    & > div
      min-height: calc(100% - 16px)
  .kanban-card
    border-color: $gray1 !important
    font-size: 14px
    .btn
      margin-right: 0

.modal-backdrop
  opacity: 0.9
.modal-body
  background-color: $dark
  color: $gray3

.modal-content
  border-radius: 7px
  .modal-header
    background-color: $black
    color: $gray3
    .close
      color: $gray3
  pre
    color: $black
.members-select
  .b-avatar
    border: 2px solid $primary
    &.inactive
      filter: grayscale(1)

.mention-item
  padding: 5px 10px
  border-radius: 4px

.mention-selected
  background: $secondary
